[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
scikit-learn = "*"
seaborn = "*"
pandas = "*"
matplotlib = "*"
joblib = "*"
numpy = "*"
streamlit = "*"
xgboost = "*"

[dev-packages]

[requires]
python_version = "3.13"
